<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="./logs/internal-nlog-${date:format=yyyy.MM.dd}.txt">

  <targets>
    <target xsi:type="File" name="file" fileName="./logs/nlog-${date:format=yyyy-MM-dd}.log"
            layout="${uppercase:${level}}|${date:format=HH\:mm\:ss.fff}|${logger}|${message}|${exception}" />

    <target xsi:type="File" name="file_error" fileName="./logs/nlog-error-${date:format=yyyy-MM-dd}.log"
            layout="${uppercase:${level}}|${date:format=HH\:mm\:ss.fff}|${logger}|${message}|${exception}" />

    <target xsi:type="ColoredConsole"
            name="console"
            layout="${uppercase:${level}}|${date:format=HH\:mm\:ss.fff}|${logger}|${message}|${exception}" />
  </targets>
  <rules>
    <logger name="TrackingRemoteHostService.*" minlevel="Trace" writeTo="file" />
    <logger name="*" minlevel="Error" writeTo="file_error" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>